.get_in_touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0, 0.1);
    border-radius: 10px;
    background-color: white;
}
.get_in_touch input {
    background-color: #ededed;
}

.confirmation {
    padding: 5;
    background-color: transparent;
}

.confirmation p{
    margin: 20px;
    margin-left: 10px;
}

.custom-navbar {
    background-color: #004d3d; /* Cambia el color de fondo a un color específico */
    color: #FFFFFF; /* Cambia el color del texto a blanco */
}


body {
    background-color: #ffffff;
}
  
.custom-header {
    background-color: #343a40; /* Color de fondo del encabezado */
    width: 100%; /* Ancho fijo del encabezado */
    position: fixed; /* Encabezado fijo en la parte superior de la página */
    padding: 15px; /* Espaciado interno */
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

.background-image {
    background-image: url(../img/pexels-pixabay-326281.jpg); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

